@import "~normalize.css";
@import "modules/app.scss";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
// @import "modules/hello.scss";

body {
  background: #3767ad;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}
